{% extends 'adminpanel/base_admin.html' %} {% load static %} 
{% block addjavascript %}
<script src="{% static 'ckeditor/ckeditor.js' %}"></script>
<script>
  CKEDITOR.replace("newstxtshort");
</script>
<script>
  CKEDITOR.replace("newstxt");
</script>
{% endblock %} {% block content %}
<div class="header bg-primary pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">Tables</h6>
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item">
                <a href="#"><i class="fas fa-home"></i></a>
              </li>
              <li class="breadcrumb-item"><a href="#">News</a></li>
              <li class="breadcrumb-item active" aria-current="page">
                News Add
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--6">
  <div class="row">
    <div class="col">
      <div class="card">
        {% include "partials/_messages.html" %}
        <div class="card-header border-0">
          <h3 class="mb-0">Update Category</h3>
        </div>
        <div class="card-body">
          <form
            action="{%url 'news_update' pk %}"
            method="post"
            enctype="multipart/form-data"
            class="form-horizontal form-bordered"
          >
            {% csrf_token %}
            <div class="form-group">
              <div class="col-md-6">
                <input
                  type="text"
                  id="newstitle"
                  name="newstitle"
                  class="form-control"
                  value="{{news.name}}"
                  placeholder="News Title"
                />
              </div>
              <div class="col-md-6">
                <select
                  id="newscat"
                  name="newscat"
                  class="select-chosen"
                  data-placeholder="Choose a Category..."
                  style="width: 250px"
                >
                  {% for i in cat %}
                  <option value="{{news.catid}}">{{news.catname}}</option>
                  <option value="{{ i.pk }}">
                    {{ i.catname }} | {{ i.name }}
                  </option>
                  {% endfor %}
                </select>
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-12">
                <textarea
                  type="text"
                  id="newstxtshort"
                  name="newstxtshort"
                  rows="5"
                  class="form-control"
                  placeholder="Short txt"
                  >{{news.short_txt}}</textarea
                >
              </div>
            </div>

            <script>
              CKEDITOR.replace("newstxtshort");
            </script>

            <div class="form-group">
              <div class="col-md-12">
                <textarea
                  type="text"
                  id="newstxt"
                  name="newstxt"
                  rows="5"
                  class="form-control"
                  placeholder="Body txt"
                >{{news.body_txt}}</textarea
                >
              </div>
            </div>

            <script>
              CKEDITOR.replace("newstxt");
            </script>

            <div class="form-group">
              <div class="col-md-6">
                <input
                  type="file"
                  id="myfile"
                  name="myfile"
                  rows="5"
                  class="form-control"
                  placeholder="Body txt"
                />
              </div>
              <div class="col-md-6">
                <textarea
                  type="text"
                  id="tag"
                  name="tag"
                  rows="5"
                  class="form-control"
                  placeholder="Tags"
                  >{{news.tag}}</textarea>
                <div class="col-md-6">                      
                  <img style="display: inline-block; width:350px; height:300px;" src="{{news.picurl}}">
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-12">
                <button type="submit" class="btn btn-sm btn-primary">
                  <i class="fa fa-angle-right"></i> Submit
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
