{% extends 'adminpanel/base_admin.html' %} {% load static %} 

{% block content %}
<div class="header bg-primary pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">Tables</h6>
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item">
                <a href="#"><i class="fas fa-home"></i></a>
              </li>
              <li class="breadcrumb-item"><a href="{% url 'cat_list' %}">Category</a></li>
              <li class="breadcrumb-item active" aria-current="page">
                Category List
              </li>
            </ol>
          </nav>
        </div>
        <div class="col-lg-6 col-5 text-right">
          <a href="{% url 'export_cat_csv' %}" class="btn btn-sm btn-neutral">Export Csv</a>
          <button class="btn btn-sm btn-neutral" data-toggle="modal" data-target="#exampleModal" >Import Csv</button>
          <!-- <a href="#" class="btn btn-sm btn-neutral">Import Csv</a> -->
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">import Csv</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="{% url 'import_cat_csv' %}"  method="POST">
          {% csrf_token %}
          <div class="form-group">
            <input type="file" class="form-control" name="csv_file" id="csv_file"/>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-sm btn-primary">Submit</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>



<div class="container-fluid mt--6">
  <div class="row">
    <div class="col">
      <div class="card">
        {% include "partials/_messages.html" %}
        <div class="card-header border-0">
          <h3 class="mb-0">Create Category</h3>
        </div>
        <div class="card-body">
          <form action="{% url 'cat_add' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
              <label class="form-control-label" for="input-username"
                >Name Category</label
              >
              <input
                type="text"
                id="input-username"
                class="form-control"
                name="name"
                placeholder="Name Category Example: Sport"
              />
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card">
        <!-- Card header -->
        <div class="card-header border-0">
          <h3 class="mb-0">Category Table</h3>
        </div>
        <!-- Light table -->
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col" class="sort" data-sort="no">No</th>
                <th scope="col" class="sort" data-sort="email">Name</th>
                <th scope="col" class="sort" data-sort="name">Count</th>
                <th scope="col" class="sort" data-sort="completion">Action</th>
              </tr>
            </thead>
            <tbody class="list">
              {% for c in cat %}
              <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ c.name }}</td>
                <td>{{ c.count }}</td>
                <td class="text-right">
                  <div class="dropdown">
                    <a
                      class="btn btn-sm btn-icon-only text-light"
                      href="#"
                      role="button"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      <i class="fas fa-ellipsis-v"></i>
                    </a>
                    <div
                      class="dropdown-menu dropdown-menu-right dropdown-menu-arrow"
                    >
                      <a class="dropdown-item" href="{% url 'cat_del' c.id %}"
                        >Delete</a
                      >
                    </div>
                  </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
