{% extends 'front/base_front.html' %}
{% load static %}

{% block headblock %}
    <title>{{site.name}} | About</title>
{% endblock %}

{% block mainblock %}
    <div class="container">
        <div class="headline bg0 flex-wr-sb-c p-rl-20 p-tb-8">
            <div class="f2-s-1 p-r-30 m-tb-6">
                <a href="/" class="breadcrumb-item f1-s-3 cl9">
                Home
                </a>
                <a href="/" class="breadcrumb-item f1-s-3 cl9">
                    About Us
                </a>
            </div>
            <div class="post-relative size-a-2 bo-1-rad-22 of-hidden bocl11 m-tb-6">
                <input class="f1-s-1 cl6 plh9 s-full p-l-25 p-r-45" type="text" name="search" placeholder="Search">
                <button class="flex-c-c size-a-1 ab-t-r fs-20 cl2 hov-cl10 trans-03">
                    <i class="zmdi zmdi-search"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="container p-t-4 p-b-35">
        <h2 class="f1-l-1 cl12">
            About Us
        </h2>
    </div>
    <section class="bg0 p-b-110">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-7 col-lg-8 p-b-30">
                    <div class="p-r-10 p-r-0-sr991">
                        <p class="f1-s-11 cl6 p-b-25">
                            {{site.abouttxt|safe}}
                        </p>
                    </div>
                </div>
                <div class="col-md-5 col-lg-4 p-b-30">
                    <div class="p-l-10 p-rl-0-sr991 p-t-5">
                        <div>
                            <div class="how2 how2-cl4 flex-s-c">
                                <h3 class="f1-m-2 cl-3 tab01-title">
                                    Popular Post
                                </h3>
                            </div>
                            <ul class="p-t-35">
                                {% for pop in popnews2 %}
                                <li class="flex-wr-sb-s p-b-30">
                                    <a href="{% url 'news_detail' word=pop.name %}" class="size-w-10 wrap-pic-w hov1 trans-03">
                                        <img src="{{pop.picurl}}" alt="Img">
                                    </a>
                                    <div class="size-w-11">
                                        <h6 class="p-b-4">
                                            <a href="{% url 'news_detail' word=popname %}" class="f1-s-5 cl3 hov-cl10 trans-03">
                                                {{pop.name}}
                                            </a>
                                        </h6>
                                        <span class="cl8 txt-center p-b-24">
                                            <a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
                                                {{pop.catname}}
                                            </a>
                                            <span class="f1-s-3 m-rl-3">
                                                -
                                            </span>
                                            <span class="f1-s-3">
                                                {{pop.date}}
                                            </span>
                                        </span>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}